@import "pre";
@import "header_footer";

// Codigo Sitio
#content {
  position: relative;
  width: 100vw;
  height: calc(100vh - 72px);
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px;
}
h1 {
  font-size: 3.5em;
  text-align: center;
  margin: 40px 0px 20px 0px;
}
#form_energia {

  & > p {
    margin: 0px;
  }
  & > select {
    margin: 0px 10px;
  }
  & > button {

  }
}

#sankey {
  text-align: center;
  // height: 100%;
  height: calc(100vh - 31px - 113px - 72px);
  width: 100vw;
}
.chart-encabezado-right, .chart-encabezado-left {
  fill: gray;
  font-weight: bold;
}
.chart-encabezado-right {
  text-anchor: start;
}
.chart-encabezado-left {
  text-anchor: end;
}
.link {
  fill: none;
  z-index: 10;
  stroke: silver;
  stroke-opacity: 0.25;
}
.node {
  z-index: 20;

  & > rect {
    stroke: silver;
    fill: white;
    cursor: pointer;
    // shape-rendering: crispEdges;

  }
  & > .node-text, & > .node-text-start {
    fill: gray;
    font-weight: normal;
    font-size: 14px;
  }
  & > .node-text {
    text-anchor: start;
  }
  & > .node-text-start {
    text-anchor: end;
  }
}

.link-hover {
  // stroke-opacity: 0.8;
}

// ---- Tooltip

#tooltip, #tooltip_intro {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  border: 1px solid silver;
  padding: 10px;
  position: absolute;

  & > .tooltip_name {
    font-size: 16px;
  }
  & > .tooltip_production {
    font-size: 14px;
    color: gray;
  }
  & > .tooltip_losses {
    font-size: 14px;
    color: gray;
  }
}
#intro_screen {
  top: 0px;
  left: 0px;
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
}
#tooltip_intro {
  max-width: 200px;
}
