@import "pre";
@import "header_footer";

// Codigo Sitio
h1 {
  margin: 20px auto;
  font-size: 34px;
  max-width: 300px;
  text-align: center;

  // (portrait and landscape)
  @media (min-width: $small) {
    margin: 40px auto 20px auto;
    max-width: initial;
    font-size: 40px;
  }
  // (portrait and landscape)
  @media (min-width: $large) {
    font-size: 49px;
  }
}

#content {
  position: relative;
  width: 100vw;
  height: calc(100vh - 72px);
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px;
}
#form_energia {
  margin: 0px 10px;

  & > p {
    display: none;
    margin: 0px;

    // (portrait and landscape)
    @media (min-width: $small) {
      display: inherit;
    }
  }
  & > select {
    margin: 0px 10px 0px 0px;
    max-width: 75px;

    // (portrait and landscape)
    @media (min-width: $small) {
      display: inherit;
      margin: 0px 10px;
      max-width: 150px;
    }
  }
  & > button {
    height: 24px;
    padding: 0px 10px;
  }
}
#sankey {
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  height: calc(100vh - 72px - 104px - 24px);
  min-height: 500px;

  // (portrait and landscape)
  @media (min-width: $large) {
    height: calc(100vh - 72px - 113px - 24px);
  }
}

.chart-encabezado-right, .chart-encabezado-left {
  fill: #666666;
  font-weight: bold;
}
.chart-encabezado-right {
  text-anchor: start;
}
.chart-encabezado-left {
  text-anchor: end;
}

.link {
  fill: none;
  z-index: 10;
  stroke: silver;
  stroke-opacity: 0.25;
}
.node {
  z-index: 20;

  & > rect {
    stroke: silver;
    fill: white;
    cursor: pointer;
    // shape-rendering: crispEdges;

  }
  & > text {
    fill: #ACACAC;
    font-weight: normal;
    font-size: 14px;
  }
  & > .node-text {
    text-anchor: start;
  }
  & > .node-text-start {
    text-anchor: end;
  }
}

// ---- Tooltip

#tooltip, #tooltip_intro {
  background-color: white;
  border-radius: 4px;
  border: 1px solid silver;
  padding: 10px 20px;
  position: absolute;

  & > .tooltip_container {
    width: 100%;
    min-width: 200px;

    & > .tooltip_key {
      font-size: 12px;
      color: gray;
      text-transform: uppercase;
      padding: 2px;
    }
    &:nth-child(3) {
      & > .tooltip_key > i {
        color: #7FC6E6;
      }
    }
    &:nth-child(4) {
      & > .tooltip_key > i {
        color: #6A5587;
      }
    }
    &:nth-child(5) {
      & > .tooltip_key > i {
        color: #394E5F;
      }
    }
    &:nth-child(6) {
      & > .tooltip_key > i {
        color: #D16969;
      }
    }
    &:nth-child(8) {
      & > .tooltip_key {
        font-size: 12px;
        text-transform: none;
        padding: 10px 0px 0px 17px;
        width: 200px;
      }
    }
    & > .tooltip_data {
      color: $dark_color;

      &::after {
        content: ' ktep';
        color: gray;
      }
    }
  }
  & > .tooltip_name {
    font-size: 16px;
    // text-transform: uppercase;
    margin-bottom: 10px;
  }
  & .divider {
    border-bottom: 1px solid silver;
    margin-bottom: 5px;
  }
}
#tooltip {
  transform: translate(-50%, -100%);
  top: -1000px;
  left: -1000px;

  // &:after, &:before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   bottom: 0px;
  //   width: 0;
  //   height: 0;
  //   border-style: solid;
  //   transform: translate(-50%, 100%);
  // }
  // &:after {
  //   left: 50%;
  //   border-color: white transparent transparent transparent;
  //   border-width: 10px;
  //   line-height: 0px;
  //   _border-color: white black black black;
  //   _filter: progid:DXImageTransform.Microsoft.Chroma(color='black');
  // }
  // &:before {
  //   left: 50%;
  //   border-color: silver transparent transparent transparent;
  //   border-width: 11px;
  //   line-height: 0px;
  //   _border-color: silver black black black;
  //   _filter: progid:DXImageTransform.Microsoft.Chroma(color='black');
  // }
}
#intro_screen {
  top: 0px;
  left: 0px;
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
}
#tooltip_intro {
  max-width: 200px;

  & > div {
    & > .tooltip_name {
      font-size: 16px;
      margin-top: 0px;
    }
    & > .tooltip_exit {
      cursor: pointer;
    }
  }
}
